PROJECT_NAME=orders
VERSION=0.1.0
DATABASE_URL=postgresql://admin:adminpassword@postgres:5432/orders_db
SECRET_KEY=
ALGORITHM=HS256
EVENTS_SERVICE_URL=http://events:8001
PAYMENTS_SERVICE_URL=http://payments:8003
HTTP_TIMEOUT_SECONDS=3
